force-app/main/default/flows/Test_Object_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Account_field_1</name>
        <label>Account field 1</label>
        <locationX>192</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hello from contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_acc_rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_field_2</name>
        <label>Account field 2</label>
        <locationX>786</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installation Partner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountRecord.Date_diff_in_secs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>diffTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_acc_rec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_conditions</name>
        <label>Check conditions</label>
        <locationX>456</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>field_condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>hello</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_field_1</targetReference>
            </connector>
            <label>field condition</label>
        </rules>
        <rules>
            <name>title_field_condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_field_2</targetReference>
            </connector>
            <label>title field condition</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>diffTime</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CreatedDate} - {!$Record.test_date_time__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Test Object update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Object update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_acc_rec</name>
        <label>Update acc rec</label>
        <locationX>456</locationX>
        <locationY>671</locationY>
        <inputReference>AccountRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_conditions</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Account record to be updated</description>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
